* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    padding: 2vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

h1 {
    margin: 0 auto;
    background: linear-gradient(black, rgb(173, 167, 167));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

input {
    margin: 0 auto;
    margin-top: 1rem;
    border: 1px solid black;
    border-radius: 2vh;
    height: 2rem;
    padding-left: 2rem;
    width: 50vw;
}

input:focus {
    border-color: darkblue;
}

.grid-box {
    background-color: rgb(172, 165, 165);
    border-radius: 2vh;
    margin-top: 2rem;
    padding: 5vw;
    color: white;
}

div {
    margin-bottom: 2rem;
}

p {
    border-bottom: 1px solid rgb(82, 79, 79);
}

span {
    width: 70%;
    color: black;
}