@import url('https://fonts.googleapis.com/css2?family=Oxanium:wght@300;400;500;600;700;800&display=swap&#39;');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Oxanium', cursive;
}

body {
    text-align: center;
    background: linear-gradient(rgb(5, 194, 219), rgb(98, 191, 219), rgb(146, 195, 199));
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100vw;
    height: 100vh;
    padding: 4vh;
}

h1 {
    font-size: 5vw;
    margin: 2vw;
    background: linear-gradient(rgb(10, 66, 221), rgb(228, 5, 42));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-shadow: 5px 21px 15px;
}

.img-container {
    display: flex;
    flex-direction: column;
    grid: 5vh;
}

.img {
    margin: 0 auto;
    width: 40vh;
}

.info-container {
    position: relative;
    margin-top: -40vh;
    display: flex;
    height: 30vh;
    justify-content: space-between;
    flex-direction: column;
}

.pokemon {
    text-align: center;
    margin-bottom: 4vh;
}

.pokemon-info {
    font-size: 1.8vh;
    width: 19vh;
    display: flex;
    justify-content: space-between;
    text-align: center;
    margin: 0 auto;
    margin-top: 4vh;
    margin-left: 13vh;
}

h2 {
    text-align: end;
}

.pokemon-img {
    width: 11vh;
    margin-top: -1.3vh;
    margin-right: 2.5vh;
}

.container {
    display: flex;
    justify-content: center;
    flex-direction: column;
}




.poke-num {
    color: gray;
}

input[type="text"] {
    margin: 0 auto;
    margin-bottom: 1rem;
    padding-left: 1rem;
    width: 20vh;
    height: 5vh;
    border: 1px solid black;
    border-radius: 1vh;
    box-shadow: -6px 8px 0.7px;
    font-size: 2vw;
}

.btns {
    display: flex;
    justify-content: center;
}

button {
    width: 9vh;
    height: 3vh;
    border: 1px solid black;
    border-radius: 0.8vh;
    background-color: rgb(79, 81, 80);
    box-shadow: -2px 6px 0.8px black;
    color: white;
    font-size: 1.3vh;
    margin: 0.6rem;
}

button:hover {
    background-color: rgb(50, 49, 49);
    animation: btnAnimation 1s;
}

@keyframes btnAnimation {
    0% {
        top: -0.2vh;
    }
    50% {
        top: -0.4vh;
    }
    100% {
        top: -0.6vh;
    }
}